/* .App {
  text-align: center;
} */

/* h1, h2, h3, h4, h5, h6, hr, p {
  margin: 0;
} */

/* .user-profile {
  border: 1px solid black;
} */

.user-img {
  height: 10em;
  border: 1px solid black;
  border-radius: 50%;margin-bottom: 1em;
}

.hat-card {
  border: 1px solid black;
  margin: 1em;
  width:13em;
  background-color: black;
  /* color: white; */
  padding: 1em;
  border-radius: 1em 1em 1em 1em;
}

.hat-pic {
  height: 13em;
  width: 11em;
  border: 2px solid red;
  border-radius: 10%;
}

.modal-hat-pic {
  /* height: 100%; */
  width: 100%;
  border: 2px solid red;
  border-radius: 10%;
}

.about-me {
  border: 1px solid black;
  padding: 0.4em;
  border-radius: 3em;
}

.hat-desc {
  font-size: 14px;
}

.hat-details-btn {
  margin-top: 1em;
}

.comment-hr {
  margin: 0.3em 0.3em;
}

.comment-input {
  width: 100%;
}

.comment-card-box {
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.4em;
  border-radius: 1em;
}
