p {
  margin: 0;
}

.user-img {
  height: 10em;
  border: 1px solid black;
  border-radius: 50%;margin-bottom: 1em;
}

.hat-card {
  border: 1px solid black;
  margin: 1em;
  width:13em;
  background-color: black;
  /* color: white; */
  padding: 1em;
  border-radius: 1em 1em 1em 1em;
}

.hat-pic {
  height: 13em;
  width: 11em;
  border: 2px solid red;
  border-radius: 10%;
}

.modal-hat-pic {
  /* height: 100%; */
  width: 100%;
  border: 2px solid red;
  border-radius: 10%;
}

.about-me {
  border: 1px solid black;
  padding: 0.4em;
  border-radius: 3em;
}

.about-me-section {
  padding: 0 2em 0.6em 2em;
}

.hat-desc {
  font-size: 14px;
}

.hat-holder {
  margin-top: 1.2em;
}

.hat-details-btn {
  margin-top: 1em;
}

.comment-hr {
  margin: 0.3em 0.3em;
}

.separator {
  margin: 0;
}

.comment-input {
  width: 100%;
}

.comment-card-box {
  border: 1px solid black;
  margin-top: 0.9em;
  padding: 0.4em;
  border-radius: 1em;
}

.commenter-img {
  display: flex;
  align-items: center;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
}

.input-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0;
}

.comment-header {
  /* height: 1em; */
  /* margin-bottom: 1em; */
}

.input-comment {
  display: flex;
  align-items: center;
  padding: 0;
}

.avi-name {
  display: flex;
  /* align-items: baseline; */
}

.commenter-info {
  padding-left: 0.4em;
}
